@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts/fonts.css');

@layer utilities {
}

@layer components {
    .CARD {
        background-color: #ededed;
        border: 1px solid #d9d9d9;
        border-radius: 0.75rem;
        overflow: hidden;
    }
    
}
@layer base {
    html {
        font-family: 'Geist', sans-serif;
    }
    h1,
    h2 {
        font-family: 'Super Peach', serif;
    }
}
